---
import Layout from "@/layouts/Layout.astro";
import PageNav from "@/components/PageNav.astro";
import { Image } from "astro:assets";
import lostGif from "public/404.gif";
import { getI18N } from "@/i18n";

const supportedLocales = ['en', 'es'];
const segments = Astro.url.pathname.split('/').filter(Boolean);
const currentLocale = supportedLocales.find(l => l === segments[0]) ?? 'es';
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.NOT_FOUND_TITLE}>
  <main class="w-5/6 mx-auto relative" transition:persist>
    <PageNav currentLocale={currentLocale} title={i18n.NOT_FOUND_TITLE} />
    <section class="reveal-zoom">
      <div class="text-primary mt-36">
        <h1 class="text-9xl font-semibold flex justify-center items-center">
          404
        </h1>
        <p class="text-center font-semibold">
          {i18n.NOT_FOUND_DESCRIPTION}
        </p>
        <div class="flex justify-center mt-6">
          <Image class="rounded-xl" src={lostGif} alt="lost-gif" height={lostGif.height} width={lostGif.width} loading={"eager"}/>
        </div>
        <div class="flex justify-center mt-6">
          <a href={currentLocale === 'es' ? '/' : `/${currentLocale}/`} class="px-4 py-2 bg-primary rounded-xl bg-opacity-10 font-semibold transition-all ease-in-out md:hover:bg-opacity-20">{i18n.NOT_FOUND_BUTTON}</a>
        </div>
      </div>
    </section>
  </main>
</Layout>
