---
import { getI18N } from "@/i18n";
import vertexAI from "public/logos/vertexai.svg";
import intellijIdea from "public/logos/intellij-idea.svg";
import pycharm from "public/logos/pycharm.svg";
import { Image } from "astro:assets";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section id="about" class="w-5/6 mx-auto m-6">
  <div class="reveal gap-8 py-8 px-4 mx-auto">
    <div class="mt-4 md:mt-0">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-primary bg-clip-text bg-linear-to-r from-primary to-cyan-300 sm:text-3xl md:text-5xl pb-2 text-center"
      >
        {i18n.ABOUT_TITLE}
      </h2>
      <p
        class="mb-6 font-light text-gray-300 md:text-lg dark:text-gray-400 text-center sm:w-5/6 w-full mx-auto"
      >
        {i18n.ABOUT_TEXT_1}
        <br />
        {i18n.ABOUT_TEXT_2}
        <span
          class="font-bold text-transparent bg-clip-text bg-linear-to-r from-primary to-teal-500"
          >{i18n.ABOUT_TEXT_3}</span
        >{i18n.ABOUT_TEXT_4}
        <br />
        {i18n.ABOUT_TEXT_5}<span class="font-bold text-primary"
          >{i18n.ABOUT_TEXT_6}</span
        >{i18n.ABOUT_TEXT_7}<span class="font-bold text-primary"
          >{i18n.ABOUT_TEXT_8}</span
        >
        <br />
        <br />
        {i18n.ABOUT_TEXT_9}
      </p>
    </div>
    <section class="py-10">
      <div class="container mx-auto">
        <div class="reveal reveal-delay-1">
          <h1
            class="text-2xl text-transparent bg-clip-text bg-cyan-200 font-extrabold py-3 text-center"
          >
            {i18n.ABOUT_SKILLS_TITLE}
          </h1>
          <div
            class="opacity-75 flex gap-5 flex-wrap w-full sm:justify-center justify-center"
          >
            <Image
              class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"
              alt={"Java"}
              width={48}
              height={48}
            />
            <Image
              class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg"
              alt={"Spring"}
              width={48}
              height={48}
            />
            <Image
              class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
              alt={"Python"}
              width={48}
              height={48}
            />
            <Image
              class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/googlecloud/googlecloud-original.svg"
              alt={"Google Cloud"}
              width={48}
              height={48}
            />
            <Image
              class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
              src={vertexAI}
              alt={"Vertex AI"}
              width={48}
              height={48}
            />
            <Image
              class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg"
              alt={"MySQL"}
              width={48}
              height={48}
            />
            <Image
              class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqldeveloper/sqldeveloper-original.svg"
              alt={"Oracle SQL Developer"}
              width={48}
              height={48}
            />
            <Image
              class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-plain.svg"
              alt={"MongoDB"}
              width={48}
              height={48}
            />
            <Image
              class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-plain.svg"
              alt={"Docker"}
              width={48}
              height={48}
            />
            <Image
              class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kubernetes/kubernetes-original.svg"
              alt={"Kubernetes"}
              width={48}
              height={48}
            />
            <Image
              class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jenkins/jenkins-original.svg"
              alt="Jenkins"
              width={48}
              height={48}
            />
            <Image
              class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-plain.svg"
              alt="Git"
              width={48}
              height={48}
            />
          </div>
        </div>
      </div>
      <div class="reveal reveal-delay-2">
        <h1
          class="mt-8 text-2xl text-transparent bg-clip-text bg-blue-200 font-extrabold py-3 text-center"
        >
          {i18n.ABOUT_TOOLS_TITLE}
        </h1>
        <div
          class="opacity-75 flex gap-5 flex-wrap w-full sm:justify-center justify-center"
        >
          <Image
            class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
            src={intellijIdea}
            alt={"IntelliJ IDEA"}
            width={48}
            height={48}
          />
          <Image
            class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg"
            alt={"VS Code"}
            width={48}
            height={48}
          />
          <Image
            class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
            src={pycharm}
            alt={"PyCharm"}
            width={48}
            height={48}
          />
          <Image
            class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original.svg"
            alt={"Postman"}
            width={48}
            height={48}
          />
          <Image
            class="h-12 w-auto transition-all ease-in-out md:hover:scale-125 md:hover:animate-wave"
            src="https://www.vectorlogo.zone/logos/amazon_aws/amazon_aws-icon.svg"
            alt="AWS (S3)"
            width={48}
            height={48}
          />
        </div>
      </div>
    </section>
  </div>
</section>
