---
import InstagramIcon from "./icons/Instagram.astro";
import TwitterIcon from "./icons/Twitter.astro";
import GitHubIcon from "./icons/GitHub.astro";
import LinkedinIcon from "./icons/Linkedin.astro";

import { INSTAGRAM_URL, TWITTER_URL, GITHUB_URL, LINKEDIN_URL } from "../utils/constants";

const YEAR = new Date().getFullYear();
---

<footer class="bg-secondary bg-opacity-5">
  <section class="w-5/6 mx-auto">
    <div class="flex gap-y-6 sm:flex-row flex-col-reverse justify-between py-8">
      <div class="flex flex-col gap-y-6">
        <h1 class="text-primary font-extrabold text-2xl">Javier Picón</h1>
        <p class="text-slate-400 sm:w-4/6 w-full">
          Desarrollador Web Junior <span class="text-slate-400/70 italic font-light">(Backend & Frontend)</span>
        </p>
      </div>
      <div class="flex flex-col gap-y-2">
        <h1 class="text-primary text-xl font-bold ">Mis Redes</h1>
        <div class="fill-primary stroke-primary flex sm:justify-end justify-start gap-4 flex-nowrap">
            <a
            aria-label="Instagram"
            target="_blank"
            href={INSTAGRAM_URL}
            class="flex flex-row items-center justify-center"
          >
            <InstagramIcon class="fill-gray-200 size-6" />
          </a>
          <a
            aria-label="Twitter/X"
            target="_blank"
            href={TWITTER_URL}
            class="flex items-center justify-center"
          >
            <TwitterIcon class="fill-gray-200 size-6" />
          </a> 
          <a
            aria-label="Github"
            target="_blank"
            href={GITHUB_URL}
            class="flex flex-row items-center justify-center"
          >
            <GitHubIcon class="fill-gray-200 size-6" />
          </a> 
          <a
            aria-label="Linkedin"
            target="_blank"
            href={LINKEDIN_URL}
            class="flex items-center justify-center"
          >
            <LinkedinIcon class="fill-gray-200 size-6" />
          </a>
        </div>
      </div>
    </div>
    <hr class="text-primary opacity-10"/>
    <h1 class="text-secondary text-sm text-center py-4">© {YEAR} - Made from Spain with ♥ by <a class="font-bold" href="/">Javier Picón</a></h1>
  </section>
</footer>
