---
import { EMAIL, INSTAGRAM_URL, GITHUB_URL, LINKEDIN_URL } from "../utils/constants";

import MailIcon from "./icons/Mail.astro"
import InstagramIcon from "./icons/Instagram.astro"
import GitHubIcon from "./icons/GitHub.astro"
import LinkedinIcon from "./icons/Linkedin.astro"
---

<section class="top-5 z-50 mx-auto m-6 w-5/6">
  <nav class="flex items-center justify-between">
    <a
      aria-label={EMAIL}
      href={"mailto:" + EMAIL}
      class="flex flex-row items-center justify-center"
    >
      <div
        class="p-3 flex w-auto h-auto bg-primary rounded-full bg-opacity-10 items-center justify-center"
      >
        <MailIcon class="text-primary size-5" />
      </div>
      <h3 class="hidden pl-4 text-sm text-primary font-bold opacity-80 lg:flex md:flex pointer-events-none">
        {EMAIL}
      </h3>
    </a>

    <h3>
      <div class="flex flex-1 items-center gap-2 text-primary">
        <a
          aria-label="Instagram"
          target="_blank"
          href={INSTAGRAM_URL}
          class="flex flex-row items-center justify-center"
        >
          <InstagramIcon class="fill-primary size-5" />
        </a> /
        <a
          aria-label="Github"
          target="_blank"
          href={GITHUB_URL}
          class="flex flex-row items-center justify-center"
        >
          <GitHubIcon class="fill-primary size-5" />
        </a> /
        <a
          aria-label="Linkedin"
          target="_blank"
          href={LINKEDIN_URL}
          class="flex items-center justify-center"
        >
          <LinkedinIcon class="fill-primary size-5" />
        </a>
      </div>
    </h3>
  </nav>
  <hr class="text-[#cac6c6] mt-4 opacity-25" />
</section>
